
.etPcIV{
    background-color: rgb(41, 121, 255);
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 8px 32px;
    text-decoration: none;
    border-radius: 3px;
}

.div-expanded-row-report{
    margin-left: 80px;
    text-align: justify;
    text-justify: inter-word;
}
.ClearButtonStyle{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 34px;
    width: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.TextFieldStyle{
    height: 32px;
    width: 200px;
    border-radius: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #e5e5e5;
    padding: 0 32px 0 16px;

    &:hover {
        cursor: pointer;
    }
}